body {
	font-family: "Roboto", sans-serif;
	color: var(--main-header-color);
	font-size: 14px;
	letter-spacing: 0.03em;
	background-color: var(--bg-header-color);
}

.container {
	width: 1200px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}

.section {
	padding: 94px 0;
}

.title {
	margin-bottom: 50px;

	font-weight: 700;
	font-size: 36px;
	line-height: calc(42 / 36);
	text-align: center;
	color: var(--main-header-color);
}

.link {
	text-decoration: none;
}

.list {
	list-style: none;
}

.visually-hidden {
	position: absolute;
	white-space: nowrap;
	width: 1px;
	height: 1px;
	overflow: hidden;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	margin: -1px;
}
